*{
    margin: 0;
    padding: 0;
}

.Header{
    background-color: black;
    height: 150px;
    margin-bottom: 50px;
    display:flex;
    justify-content:center;
    align-items:center;

    &-titre{
        margin: 0;
        &-lien{
            color: white;
            text-decoration: none;
        }
    }
}

.Main{
    min-height: calc(100vh - 310px);
}

//////////// HOME //////////////
.Films{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.Film{
    position: relative;
    &-affiche{
        width:400px;
        height:600px;
        overflow: hidden;
        display: block;

        &-img{
            max-height: 600px;
            max-width: none;
            min-width: 100%;
            min-height: 600px;
            transition: opacity .2s;
        }
    }

    &-desc{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background: rgba(0,0,0, 0.6);
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        transition: all 0.2s;
    }
}
.Film-affiche-img:hover .Film-desc{
    opacity:1;
    visibility: visible;
}

.Film-affiche-img:hover{
    opacity: .5;
}

///////// FICHE FILM //////////
.Fiche{
    min-height: calc(100vh - 200px);
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;

    &-titre-DK{
        margin-bottom: 20px;
    }
    &-affiche{
        width: 500px;
        margin-right: 70px;
    }
    &-content{
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 20px;
    }
    &-infos{
        width: 550px;

        a{
            color: rgb(14, 66, 113);
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        p, li{
            margin-bottom: 10px;
        }
    }
    &-resume{
        width: 100%;
        text-align: justify; 
        text-justify: inter-word;
    }
    &-retour{
        align-self: flex-end;
        color: rgb(14, 66, 113);
        text-decoration: none;
    }
}

////////////// FICHE PERSONNE ////////////////////
.Personne{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    align-items: center;

    &-titre{
        margin-bottom: 10px;
        text-align: center;
        h2{
            margin-bottom: 30px;
        }
    }
    &-films{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        a{
            width:300px;
            height:450px;
            overflow: hidden;
            display: block;
    
            img{
                max-height: 450px;
                max-width: none;
                min-width: 100%;
                min-height: 450px;
            } 
            &:not(:last-child){
                margin-right: 30px;
            }
        }
    }
}

.Footer{
    background-color: black;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    &-content{
        width: 60%;
        display:flex;
        justify-content: space-around;
        a{
            color: white;
            text-decoration: none;
        }
        &-sns a{
            margin-right: 10px;
        }
    }
}